.container-fluid-side{
    margin-top: 10px;
    margin-left: 10px;
    background: white;
    padding-top: 150PX;
    text-align: center;
    box-shadow: -1px 10px 50px 10px rgb(255, 255, 255);
    border-radius: 30px 10px 30px 10px;
    height: 600px;
    width: 300px;
    background: rgba(240, 16, 16, 0);
}
